{{ define "main" }}
<main>
  <div class="homepage-content">
    {{.Content}}
  </div>


  <ul>
  {{ range .Site.Sections.ByLastmod }}
  {{ range first 1 .Pages.ByLastmod }} 
  <li>
    <a href="/{{ .Section }}"><em>{{ .Section }}</em></a>: <b>{{ .Title }}</b> ({{ .Date.Format "2006-01-02" }}) {{.Summary}}
  </li>
  {{ end }}
  {{ end }}

  <li> 
    <a href="/tags"><em>tags</em></a>: {{ partial "tagcloud2.html"
    (dict "context" . "tags" $.Site.Taxonomies.tags "Name" "tags") }}
  </li>
  <li>
    <a href="/categories"><em>categories</em></a>:
    {{ partial "tagcloud2.html"
    (dict "context" . "tags" $.Site.Taxonomies.categories "Name" "categories") }}
  </li>
  </ul>
</center>

</main>
{{ end }}


